@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #d1d5db; /* cool-gray-300 */
        border-radius: 3px;
    }
    .dark .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #4b5563; /* cool-gray-600 */
    }
}