# Turn off MultiViews to prevent conflicts with file extensions
Options -MultiViews
RewriteEngine On

# Set the base path for the rewrite rules to your subfolder
RewriteBase /adhd_focus/

# For all requests that are not an existing file or directory, serve the React app's index.html.
# This allows React Router to handle all frontend routing.
# This allows React Router to handle the URL.
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [L]